body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h1{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container{
    width: 100%;
    margin-left: auto;
    max-width: 400px;
    margin-right: 15px;
    padding: 20px;
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
    margin-top: 10px;
    border: 5px solid rgb(218, 210, 210);
    justify-content: flex-start;
}
.header, .footer{
    margin-left: auto;
    margin-right: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.footer{
    margin-top: 20px;
}
form{
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
}
input[type="text email"], input[type="password"]{
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
}
.a-1{
    margin-left: 140px;
    text-decoration: none;
    font-weight: bolder;
}